<div class="msg_livraison">
  <div class="msg_livraison_content">
    <h2>Livraison rapide</h2>
    <p>Recevez vos produits en 48h</p>
  </div>
</div>
<div class="header">
  <div class="logo">
    <img (click)="navigateTo('accueil')" src="logo.png" alt="Logo">
  </div>
  <nav class="nav-links">
    <a (click)="navigateTo('accueil')">ACCUEIL</a>
    <a (click)="navigateTo('produits')">PRODUITS</a>
    <a (click)="navigateTo('maillots')">MAILLOTS</a>
    <a (click)="navigateTo('chaussures')">CHAUSSURES</a>
    <a (click)="navigateTo('equipement')">EQUIPEMENT</a>
    <!-- <a (click)="navigateTo('soldes')">SOLDE</a> -->
  </nav>
  <div class="actions-container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher des produits...">
      <img src="search.svg" alt="search">
    </div>
    <img (click)="navigateTo('panier')" src="basket.svg" alt="Panier">
    <img (click)="navigateTo('login')" src="user.svg" alt="Utilisateur">
    <img src="burger.svg" alt="Menu" class="burger-menu" (click)="toggleMobileMenu()">
  </div>
  <div class="mobile-nav" [class.active]="isMobileMenuOpen">
    <a (click)="navigateTo('accueil'); closeMobileMenu()">ACCUEIL</a>
    <a (click)="navigateTo('produits'); closeMobileMenu()">PRODUITS</a>
    <a (click)="navigateTo('maillots'); closeMobileMenu()">MAILLOTS</a>
    <a (click)="navigateTo('chaussures'); closeMobileMenu()">CHAUSSURES</a>
    <a (click)="navigateTo('equipement'); closeMobileMenu()">EQUIPEMENT</a>
    <!-- <a (click)="navigateTo('soldes'); closeMobileMenu()">SOLDE</a> -->
  </div>
</div>