.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vh;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  app-carousel-slide {
    flex: 0 0 100%;
    height: 100%;
  }
  
  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0,0,0,0.4); */
    background-color: transparent;
    color: white;
    border: none;
    font-size: 4rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    border-radius: 6px;
  }
  
  .nav.left {
    left: 10px;
  }
  .nav.right {
    right: 10px;
  }
  